
{{#each array1}}
<p>  {{this.BusType}}</p><br>

<p>  {{this.origin}}</p><br>
<p>  {{this.destination}}</p><br>
<p>  {{this.BPName}}</p><br>
<p>  {{this.BPContactNumber}}</p><br>
<p>{{this.BPTime}}</p><br>
<p>{{this.BPLandmark}}</p><br>
<p>{{this.totalbasefare}}</p><br>
<p>{{this.DepartureTime}}</p><br>

<p>{{this.TravelsName}}</p><br>

<p>{{this.ugcid}}</p>


{{/each}}
